body {
  background: lightblue;
}

.noteContainer {
  border: 1px solid red;
  width: 200px;
  margin-top: 10px;
  display: inline-block;
  margin-right: 1px;
  word-wrap: break-word;
}

textarea {
width: 194px;
resize: none;
min-height: 100px;
}
